.humpyard-tab
  .humpyard-tab-title
    Container
  = form.input :preset, as: :select, collection: Humpyard.config.container_element_presets.map{|key,value| [value[:name], key]}
  - Humpyard.config.container_element_presets.each do |key, value|
    - unless value[:additional_fields].blank?
      = form.properties_for :additional_fields do |sub_form|
        %div= value[:name]
        - value[:additional_fields].each do |field_name, field_type|
          = sub_form.input field_name, title: field_name.to_s.camelcase
          
