.DS_Store
db/*.sqlite3
db/schema.rb
log/*.log
capybara-*
coverage*
.bundle/config
pkg
tmp
test/unit/humpyard/log/*
rdoc
test/rails/db/schema.rb
test/rails/public/stylesheets/compiled/*
.sass-cache
public