.bundle/
log/*.log
pkg/
rdoc/
doc/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/**/*
.DS_Store
.yardoc
.sass-cache
spec/dummy/public/humpyard/uploads/humpyard.gif
spec/dummy/public/humpyard/uploads/icon_humpyard.gif
test/rails/log/test.log