%object{:width => 560, :height => 340}
  %param{:name => "movie", :value => "http://www.youtube.com/v/#{asset.youtube_video_id}"}
  %param{:name => "allowFullScreen", :value => "true"}
  %param{:name =>"allowscriptaccess", :value => "always"}
  %embed{:src => "http://www.youtube.com/v/#{asset.youtube_video_id}", :type =>"application/x-shockwave-flash", :allowscriptaccess => "always", :allowfullscreen => "true", :width => 560, :height => 340}