/ The editing form for the page. This sits inside a tab view in a dialog.
/ These tabs are positioned after the generic tab. Example:

/ .humpyard-tab
/   .humpyard-tab-title
/     Page Content
/   = form.input :content