- if humpyard_user == 'admin'
  %body.hy-logged-in
    #hy-top.hy-eb
      #hy-top-left
        =link_to 'Edit', '#', :'data-command' => "toggleEditMode", :'data-icon' => "ui-icon-pencil"
      #hy-top-right
        =link_to 'Logout', '?user='
    #hy-bottom.hy-eb
      - Humpyard::config.elements.each do |name, type|
        .element{'data-addable'=>'true', 'data-draggable'=>'true', 'data-element-type'=>name, 'data-create-url'=>new_humpyard_element_path}
          = name
    #hy-body.hy-eb{'data-page-id'=>@page ? @page.id : 0}
      = capture_haml(&block)
- else
  %body
    #hy-body
      = capture_haml(&block)