- if humpyard_user == 'admin'
	%body.hy-logged-in
		#hy-top
			#hy-top-left
				=link_to 'Edit', '#', :'data-command' => "toggleEditMode"
			#hy-top-right
				=link_to 'Logout', '?user='
		#hy-bottom.hy-eb
			Some functions
		#hy-body.hy-eb
			= capture_haml(&block)
- else
	%body
		#hy-body
			= capture_haml(&block)