- if humpyard_user 
  %body.hy-logged-in
    #hy-top.hy-eb
      #hy-top-left
        =image_tag "ajax-loader.gif", :size => "16x16", :class => "ajax-indicator"
        =link_to I18n.t('humpyard_cms.toolbar.edit'), '#', :'data-command' => "toggleEditMode", :'data-icon' => "ui-icon-pencil" if @page and can? :update, @page
        =link_to I18n.t('humpyard_cms.toolbar.pages'), humpyard_pages_path(:actual_id => @page ? @page.id : nil), :'data-dialog' => "size:800x700;dialog_id:pages-dialog", :'data-icon' => "ui-icon-document" if can? :manage, Humpyard::Page
        =#link_to 'News', humpyard_news_feeds_path, :'data-dialog' => "size:800x600;dialog_id:news-dialog", :'data-icon' => "ui-icon-signal-diag"
      #hy-top-right
        =link_to I18n.t('humpyard_cms.toolbar.logout'), '?user='
    #hy-bottom.hy-eb
      - Humpyard::config.element_types.each do |name, type|
        - if not type.nil?
          .element{'data-addable'=>'hy-elements', 'data-draggable'=>'hy-elements', 'data-element-type'=>name, 'data-create-url'=>new_humpyard_element_path, :class => "hy-content-element-icon-#{type.to_s.underscore.dasherize}"}
            %span
              = type.model_name.human
    #hy-body.hy-eb{'data-page-id' => @page ? @page.id : false}
      = capture_haml(&block)
- else
  %body
    #hy-body
      = capture_haml(&block)