- if @humpyard_fake_login
	%body.hy-logged-in
		#hy-top
			#hy-top-left
				=link_to 'Edit', '#', :'data-command' => "toggleEditMode"
			#hy-top-right
				=link_to 'Logout', '.'
		#hy-bottom.hy-eb
			Some functions
		#hy-side.hy-eb
			Some pages
		#hy-body.hy-eb
			= capture_haml(&block)
- else
	%body
		#hy-body
			= capture_haml(&block)