- if humpyard_user == 'admin'
  %body.hy-logged-in
    #hy-top.hy-eb
      #hy-top-left
        =link_to 'Edit', '#', :'data-command' => "toggleEditMode", :'data-icon' => "ui-icon-pencil"
      #hy-top-right
        =link_to 'Logout', '?user='
    #hy-bottom.hy-eb
      .element{'data-addable'=>'true', 'data-element-class'=>'Humpyard::Elements::TextElement'}
        Text Element
      .element{'data-addable'=>'true', 'data-element-class'=>'Humpyard::Elements::BoxElement'}
        Box Element
    #hy-body.hy-eb
      = capture_haml(&block)
- else
  %body
    #hy-body
      = capture_haml(&block)