/ The editing form for the element. This sits inside a tab view in a dialog.
/ These tabs are positioned at the beginning of the tab view. Example:

/ .humpyard-tab
/   .humpyard-tab-title
/     Headlines
/   = form.input :headline
/   = form.input :subheadline
/ .humpyard-tab
/   .humpyard-tab-title
/     Text Content
/   = form.input :content
