/ Renders the element on the page. You can access your data model instance via element.content_data. See example below

.<%= singular_name %>
  / .headline
  /   = element.content_data.headline
  / .subheadline
  /   = element.content_data.subheadline
  / .content
  /   = element.content_data.content
