- if asset.content_type.match /image\//
  = image_tag "#{asset.url}", :width => asset.width, :height => asset.height
- elsif asset.media_content_type.match /audio\//
  %div{:align => "center"}
    %object{:type => "audio/mpeg", :data => "#{asset.url}", :width => 200, :height => 20}
      %param{:name => "src", :value => "#{asset.url}"}
      %param{:name => "autoplay", :value => "true"}
      %param{:name => "autoStart", :value => "1"}