%div{'data-droppable'=>'hy-elements', 'data-sortable'=>'hy-elements', 'data-sortable-update-url'=> "#{move_humpyard_elements_path}"}
  - elements.each do |e|
    = render :partial => "/humpyard/elements/show", :locals => {:element => e}