%div{'data-droppable'=>'hy-elements', 'data-sortable'=>'hy-elements', 'data-sortable-update-url'=> "#{move_humpyard_element_path('__item_id__')}", 'data-humpyard-slot'=> defined?(active_slot) && active_slot}
  - elements.each do |e|
    = render "/humpyard/elements/show", element: e