%div{class: "#{element.content_data_type.split('::').last.underscore.gsub('_','-')}"}
  = render "/humpyard/elements/#{element.content_data_type.underscore.pluralize.gsub(/^humpyard\/elements/, '')}/show", element: element