- if element.content_data and element.content_data.asset
  = render '/humpyard/assets/show_asset', asset: element.content_data.asset.content_data, element: element
- else
  - if can? :manage, Humpyard::Element
    %strong.error404
      Can't find this Media (Error 404)!