.humpyard-dialog-title
  = I18n.t 'humpyard_cms.pages.edit.title'
.dialog-columns
  .left-dialog-column
    #hy-page-treeview
      = render :partial => 'tree', :locals => {:pages => @pages, :page => @page}
    %hr
    .humpyard-form-buttons
      - Humpyard::config.page_types.each do |name, type|
        = link_to I18n.t('humpyard_cms.pages.edit.add', :page_type => type.model_name.human), new_humpyard_page_path(:type => name), :'data-dialog-link' => true
  .right-dialog-column
    - if @page
      = render :partial => 'edit', :locals => {:page => @page}
    - else
      Nothing selected
.humpyard-dialog-buttons
