.treeitem{'data-droppable'=>'hy-pages', 'data-sortable'=>'hy-pages', 'data-sortable-update-url'=> "#{move_humpyard_pages_path}"}
  - if pages and pages.size > 0
    - pages.each do |page|
      - unless page == root_page
        .treeview{'data-draggable'=>"hy-pages", 'data-page-id'=>page.id}
          = link_to page.title, edit_humpyard_page_path(page), :'data-dialog-link' => true, :class => (@page and @page==page ? 'active' : ''), :id => "hy-page-dialog-item-#{page.id}"
          = render :partial => 'subtree', :locals => {:pages => page.content_data.child_pages, :root_page => @root_page}
