.humpyard-treeview{:'data-sortable-update-url'=> move_humpyard_pages_path}
  - if root_page = Humpyard::Page.root_page
    = render 'subtree', :pages => ([root_page] + root_page.siblings), :root_page => root_page