.humpyard-treeview{:'data-sortable-update-url'=> move_humpyard_page_path('__item_id__')}
  - if root_page = Humpyard::Page.root_page
    = render 'subtree.html', pages: ([root_page] + root_page.siblings), root_page: root_page