- title @page.title, false
- @page.elements.each do |e|
	=render :partial => "/humpyard/elements/#{e.content_data_type.split('::').last.underscore.pluralize}/show", :locals => {:element => e}



/ 
	="X-HumpYard-Page:#{@page.id}"