- title "Welcome to Humpyard"
%p
  The installation of Humpyard was successful.
%p
  You may now add some
  = link_to 'Pages', humpyard_pages_path, :'data-dialog' => "size:800x700;dialog_id:pages-dialog"
  to your site.
  
	
- content_for :sidebar do
  %p
    %a{"href"=>"http://humpyard.org/"}
      Visit the Humpyard Homepage