- custom_partial_path = "/humpyard/assets/#{asset.class.name.underscore.pluralize.gsub(/^humpyard\/assets/, '')}/show"
- if lookup_context.exists? custom_partial_path , nil, true
  = render partial: custom_partial_path, locals: {asset: asset, element: element}
