- custom_partial_path = "/humpyard/assets/#{asset.class.name.underscore.pluralize.gsub(/^humpyard\/assets/, '')}/show"
- if template_exists? custom_partial_path , nil, true
  = render :partial => custom_partial_path, :locals => {:asset => asset}
